/*----Fonts----*/
@font-face {
  font-family: TitiliumRegular;
  font-weight: 400;
  src: url(../fonts/TitilliumWeb-Regular.ttf) format('ttf');
}

body {
  font-family: TitiliumRegular;
  color: #6e6e6d;
}

@font-face {
  font-family: TitiliumSemiBold;
  font-weight: 400;
  src: url(../fonts/TitilliumWeb-Bold.ttf) format('ttf');
}

h1 span, em {
  font-family: TitiliumSemiBold;
}


/*----Page Templates----*/
@page {
  @top-right {
    /* background: #fbc847; */
    color: rgb(185, 0, 255);
    font-weight: 900;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
/*   @bottom-center {
    content: 'Gaia-x Architecture Document';
    color: #575756;
    display: block;
    height: 1cm;
    opacity: .7;
    width: 100%;
  } */
/*   @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  } */
}
@page :blank {
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}
@page no-chapter {
  @top-left { background: none; content: none }
  @top-center { content: none }
  @top-right { content: none }
}
@page first {
  background: url('./background-title-with-logo.png') no-repeat center;
  background-size: cover;
  margin: 0;
}
@page chapter {
  background: url('./background-all.png') no-repeat center;
  @top-right { content: none }
}

/*----Cover Page----*/
#first{
  margin-top: 40%;
  margin-left: 10%;
  margin-right: 10%;
  break-before: always;
  break-after: always;
  page: first;
  text-align:left;
  font-family: Titillium-SemiBold;
  color:white;
  font-size:70px;
}

/*----Table of Contents----*/
.toc ul ul ul {
  display: none;
}

.toc li {
  list-style-type: none;
}

.toc a {
  text-decoration: none;
  color: #6e6e6d;
}

.toc ul {
  margin-bottom: 24px;
}

.toc > ul > li > a {
  font-family: TitiliumSemiBold;
  color: #000094;
}


/*----Titles----*/
h1 {
  page: chapter;
  break-before: always;
  break-after: always;
  color: aliceblue;
  padding-top: 35%;
  font-size: 3rem;
  font-weight: 300;
}

h1 span {
  display: block;
  margin-bottom: 12pt;
  font-size: 8rem;
  color: rgb(185, 0, 255);
}

h2 {
  margin-top: 42px;
  border-bottom: 1px solid rgb(185, 0, 255);
  padding-bottom: 12px;
}

h2, h3, h4 {
  color: #000094d8;
}


/*----Content----*/
img {
  width: 100%;
}

tbody{
  vertical-align: middle;
  display: table-row-group;
}

table{
  border-collapse: collapse;
  width: 100%;
  break-before: avoid;
  break-after: avoid;
}

td{
  border: 1px solid #ddd;
  padding: 8px;

}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(185, 0, 255);
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

/* table {
  border-top: 6px solid rgb(185, 0, 255);
  border-bottom: 4px solid rgb(185, 0, 255);
  padding-top: 2px;
  padding-bottom: 2px;
}

thead {
  background-color: #ecebeb;
}
 */
/* h1 + p::before {
  content: 'hello';
} */
